.album-show {
  width: 100%;
  background-image: url("http://res.cloudinary.com/sohnbrian/image/upload/v1507444385/luc-van-loon-195067_aeic62.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-title {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  color: #626262;
}

.album-description {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 14px;
  color: #626262;
}

.divider {
  margin: 20px 0 10px;
  height: 40px;
  background-color: #626262;
  width: 100%;
}

.album-cover-img-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 140px;
  width: 210px;
  margin: 50px 10px;
  position: relative;
  background-color: white;
  z-index: 1;
}
.album-cover-img-div:before {
  background: #eff4de;
  top: -10px;
  left: -15px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: -5;
}
.album-cover-img-div:after {
  background: #768590;
  top: 5px;
  left: 0px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: -5;
}
.album-cover-img-div {
  border: 6px solid #fff;
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.album-cover-img-div:before,
.album-cover-img-div:after {
  border: 6px solid #fff;
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: -5;
}
.album-cover-img-div:before,
.album-cover-img-div:after {
  content: "";
  position: absolute;
}
.album-cover-img-div > span {
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 90%;
  color: #949494;
  font-size: 0.8em;
  padding: 10px;
  display: block;
  background: #fafafa;
  text-align: center;
  z-index: 1;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
    0 0 60px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
