.album-index {
  background-image: url("http://res.cloudinary.com/sohnbrian/image/upload/v1507444385/luc-van-loon-195067_aeic62.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}
.album-cover-img,
.album-item-photo {
  border: 7px solid white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.album-title {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  color: #626262;
}

.album-index-container {
  margin: 15px 20px 40px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stack {
  height: 140px;
  width: 210px;
  margin: 50px 40px;
  position: relative;
  background-color: white;
  z-index: 1;
}
.stack:before {
  background: #eff4de;
  top: -10px;
  left: -15px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: -5;
}
.stack:after {
  background: #768590;
  top: 5px;
  left: 0px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: -5;
}
.stack {
  border: 6px solid #fff;
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.stack:before,
.stack:after {
  border: 6px solid #fff;
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: -5;
}
.stack:before,
.stack:after {
  content: "";
  position: absolute;
}
.stack > div {
  margin-top: 30px;
  color: #949494;
  font-size: 0.8em;
  padding: 10px;
  display: block;
  background: #fafafa;
  text-align: center;
  z-index: 1;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
    0 0 60px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
