/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
main,
main > div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}

body {
  background: url(https://i.imgur.com/V2z2KZl.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

* {
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="button"],
input[type="text"],
input[type="password"] {
  border: 1px solid black;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}

input[type="submit"] {
  width: 70px;
  align-self: center;
}

input {
  text-align: center;
}
