.comment-index-container {
  display: flex;
  flex-direction: row;
}

.comment-index-container-left {
  width: 40%;
}

.comment-index-container-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.comment-index-item-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}
.iic-left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment-iic-left {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.comment-iic-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.comment-owner {
  font-size: 12px;
  font-weight: bold;
  margin-left: 12px;
}
.comment-itself {
  margin: 0px 20px 10px 20px;
  font-size: 12px;
}
.edit-comment {
  margin: 9px 1px 0 10px;
}
.edit-comment:hover {
  color: darkgray;
  cursor: pointer;
}
.delete-comment {
  margin: 8px 15px 0 7px;
}
.delete-comment:hover {
  color: darkgray;
  cursor: pointer;
}
.add-comment {
  margin-top: 15px;
  width: 99%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
}
.add-comment-form {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submit-comment {
  font-size: 12px;
  border: white;
  background-color: white;
  margin: 10px 0 25px;
  align-self: center;
  height: 15px;
  color: #212124;
}
.submit-comment:hover {
  color: white;
  background-color: #212124;
  border: #212124;
}
