.main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.background-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background: url(http://res.cloudinary.com/sohnbrian/image/upload/v1506102062/joshua-reddekopp-217223_k5l13j.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-welcome {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  height: 100vh;
  width: 100%;
  text-align: center;
}

.main-welcome-title {
  position: relative;
  margin-top: 240px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 45px;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.main-welcome-description {
  position: relative;
  margin-bottom: 40px;
  font-size: 18px;
  color: white;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  font-size: 36px;
  background-color: black;
  z-index: 10;
}

.footer div {
  height: 36px;
  width: 36px;
  margin: 0 25px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer i {
  color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.footer i:hover {
  opacity: 1;
}

.fa.fa-envelope,
.fa.fa-github,
.fa.fa-linkedin {
  font-size: 22px;
}
