.main-nav {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: black;
  opacity: 0.6;
  color: white;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: initial;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 30px;
}

.logo {
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.logo-name {
  padding-bottom: 5px;
  margin-left: 5px;
  font-family: "Archivo Black", sans-serif;
}

.login-signup > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 30px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-button,
.login-button,
.signup-button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 56px;
  font-size: 11px;
  border-radius: 5px;
  border: 1px double white;
  background-color: white;
  margin: 0 0 2px 0;
  box-sizing: border-box;
  padding: 2px 8px;
  color: black;
  align-self: center;
}

.demo-button:hover,
.login-button:hover,
.signup-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.login-button {
  margin-left: 8px;
}

.signup-button {
  margin-left: 8px;
  margin-right: 110px;
}

.logged-in-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}

.header-logout-button {
  margin-left: 15px;
  color: white;
}

.header-upload-button {
  margin-left: 15px;
  color: white;
}

.fa.fa-power-off {
  font-size: 20px;
}

.fa.fa-cloud-upload {
  font-size: 22px;
}
