.main-nav {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: black;
  opacity: 0.6;
  color: white;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: initial;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 30px;
}

.logo {
}

.logo-icon {
  width: 30px;
  height: 30px;
}

.logo-name {
  padding-bottom: 5px;
  margin-left: 5px;
  font-family: "Archivo Black", sans-serif;
}

.login-signup > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 30px;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  width: 100%;
}

.login-signup {
  display: flex;
  height: 22px;
}

.form-container {
  text-align: center;
}

.login-form-box {
  margin-top: 10px;
  padding: 50px;
  width: 275px;
  margin: 0 auto;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button,
.signup-button {
  width: 56px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  padding: 2px 8px;
  color: black;
  align-self: center;
}

.signup-button {
  margin-left: 8px;
  margin-right: 110px;
}

.session-form-modal {
  /*width: 100px;*/
  /*height: 100px;*/
  line-height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*margin-top: -200px;*/
  /*margin-left: -300px;*/
  background-color: white;
  opacity: 0.8;
  border-radius: 8px;
  border: 1px solid black;
  /*text-align: center;*/
  z-index: 11;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.username-password {
  font-size: 12px;
}
