.main-nav {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: black;
  opacity: 1;
  color: white;
  height: 40px;
  width: 100%;
  font-family: $sans-serif;
  -webkit-font-smoothing: initial;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 30px;
}

.logo {
}

.logo-icon {
  width: 30px;
  height: 30px;
}

.logo-name {
  padding-bottom: 5px;
  margin-left: 5px;
  font-family: "Archivo Black", sans-serif;
}


.login-signup > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 30px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  width: 100%;
}

.login-signup {
  display: flex;
  height: 22px;
}
.login-form-container {
  text-align: center;
}
.login-form-box {
  margin-top: 10px;
  outline: 5px solid black;
  padding: 50px;
  width: 400px;
  margin: 0 auto;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.login-button,
.signup-button {
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  margin: 0;
  box-sizing: border-box
  padding: 5px 8px;
  color: black;
}


.signup-button {
  margin-left: 8px;
  margin-right: 30px;
}
