.show-whole {
  background-image: url("http://res.cloudinary.com/sohnbrian/image/upload/v1506453476/background-img-for-all_irbh0g.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.show-top-half {
  width: 100%;
  height: 500px;
  background-color: #212124;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-page-img-container {
  display: flex;
  flex-direction: column;
}

.delete-photo-button {
}

.fa.fa-trash-o {
  font-size: 22px;
  color: darkgray;
}
.fa.fa-trash-o:hover {
  color: white;
}
.delete-photo-button {
  border: 0;
}
.edit-photo-button {
  margin-top: 10px;
  width: 17px;
  margin-right: 10px;
  border: 0;
}

.fa.fa-pencil-square-o {
  font-size: 22px;
  color: darkgray;
}

.fa.fa-pencil-square-o:hover {
  color: white;
}
.show-page-img-container {
  width: 600px;
  height: 400px;
  margin: 70px 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-page-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.show-bottom-half {
  display: flex;
  width: 100%;
}

.show-bottom-left {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 500px;
}

.show-bottom-left-photo-details {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-right: 4px;
}

.show-bottom-left-user-img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  min-height: 60px;
  margin-right: 10px;
}

.container-for-photo-owner-img {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-owner-img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.show-bottom-left-user-title-description {
  margin-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 15px;
  border-bottom: 2px double black;
}

.--username {
  font-weight: bold;
  font-size: 14px;
  padding: 4px 2px;
}

.--title {
  font-style: italic;
  font-size: 14px;
  padding: 4px 2px;
}

.--description {
  font-size: 12px;
  padding: 4px 2px;
}

.show-bottom-right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
}

.delete-modal,
.edit-modal {
  line-height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 1;
  border-radius: 8px;
  border: 1px solid black;
  z-index: 11;
}

.delete-modal-overlay,
.edit-modal-overlay {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.edit-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  font-size: 12px;
}
.edit-title-description-label {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-title-input {
  width: 80%;
}
.edit-description-input {
  border: 1px solid black;
  width: 80%;
  height: 100px;
  border-radius: 5px;
}

.submit-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 15px;

  width: 25px;
  height: 16px;
}

.delete-modal-delete-confirmation {
  margin: 10px;
  display: flex;
  height: 100px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmation-button {
  margin: 5px 0;
}
