.show-top-half {
  width: 100%;
  height: 600px;
  background-color: #212124;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show-page-img-container {
  width: 750px;
  height: 500px;
  margin: 70px 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-page-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.show-bottom-half {
  display: flex;
  width: 100%;
}

.show-bottom-left {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  background-color: red;
}

.show-bottom-left-photo-details {
  display: flex;
  flex-direction: row:
  overflow: auto;
  margin-right: 4px;
}


.show-bottom-left-user-img {
  width: 40%;
  justify-content: flex-end;
  min-height: 100px;
}

.show-bottom-left-user-title-description {
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.--username {
  font-weight: bold;
  font-size: 14px;
  padding: 4px 2px;

}

.--title {
  font-style: italic;
  font-size: 14px;
  padding: 4px 2px;

}

.--description {
  font-size: 12px;
  padding: 4px 2px;

}


.show-bottom-right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  background-color: green;
}
