.bottom-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tag-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.tag-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  max-width: 320px;
  margin-top: 50px;
}

.tag-word {
  margin-right: 10px;
}

.delete-tag-word-button:hover {
  color: darkgray;
  transition: 0.2s;
}
.add-tag-form {
  max-width: 320px;
  width: 70%;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-tag {
  width: 60%;
}
.tag-title {
  width: 100%;
  text-align: center;
  margin: 20px 0 10px;
}
