.upload-whole {
  background-image: url("http://res.cloudinary.com/sohnbrian/image/upload/v1507444385/luc-van-loon-195067_aeic62.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upload-top-half {
  width: 100%;
  height: 500px;
  background-color: #212124;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upload-img-container {
  width: 600px;
  height: 400px;
  margin: 70px 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-for-image-after-upload {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-after-upload {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.upload-labels {
  text-align: center;
  font-size: 12px;
}
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 15px 10px;
  border-radius: 5px;
}

.upload-bottom-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
}
